<div>
  <div class="submit-form">
    <div *ngIf="!submitted">
      <div class="form-group">
 
        <div class="form-group">
          <label for="name">Name</label>
          <input
            type="text"
            class="form-control"
            id="name"
            required
            [(ngModel)]="Agency.name"
            name="name"
          />
        </div>
        <div class="form-group">
          <label for="country">Country</label>
          <input
            type="text"
            class="form-control"
            id="country"
            [(ngModel)]="Agency.country"
            name="country"
          />
        </div>
        <div class="form-group">
          <label for="countryCode">Country Code</label>
          <input
            type="text"
            class="form-control"
            id="countryCode"
            [(ngModel)]="Agency.countryCode"
            name="countryCode"
          />
        </div>
        <div class="form-group">
          <label for="settlementCurrency">Settlement Currency</label>
          <input
            type="text"
            class="form-control"
            id="settlementCurrency"
            [(ngModel)]="Agency.settlementCurrency"
            name="settlementCurrency"
          />
        </div>

        <div class="form-group">
          <label for="city">City</label>
          <input
            type="text"
            class="form-control"
            id="city"
            [(ngModel)]="Agency.city"
            name="city"
          />
        </div>

        <div class="form-group">
          <label for="street">Street</label>
          <input
            type="text"
            class="form-control"
            id="street"
            [(ngModel)]="Agency.street"
            name="street"
          />
        </div>
        <div class="form-group">
          <label for="contactPerson">Contact Person</label>
          <input
            type="text"
            class="form-control"
            id="contactPerson"
            [(ngModel)]="Agency.contactPerson"
            name="contactPerson"
          />
        </div>

      <button (click)="saveAgency()" class="btn btn-success">Submit</button>
    </div>

    <div *ngIf="submitted">
      <h4>Agency was submitted successfully!</h4>
      <button class="btn btn-success" (click)="newAgency()">Add</button>
    </div>
  </div>
</div>
